<launch>

  <group ns="Control">

    <node pkg="erp42_ros" name="controller" type="Controller">
      <remap from="target" to="sys/target"/>
      <remap from="ctrl_input" to="sys/input"/>
      <remap from="feedback" to="sys/feedback"/>
    </node>

    <node pkg="erp42_ros" name="ERP42Ros0" type="ERP42Ros" args='devname'>
      <remap from="input" to="sys/input"/>
      <remap from="output" to="sys/feedback"/>
    </node>


  </group>
  

</launch>
